.countrys{
border: 3px solid rgb(190, 156, 150);
padding: 15px;
border-radius: 10px;
margin:15px;

}
.country{
border: 3px solid rgb(48, 155, 155);
padding: 15px;
border-radius: 10px;
margin:15px;

}

